<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

<!-- Content for add page-->
<div class="container">
    <div class="row">
    <div class="col-md-10 centered">
    <h1><%= title %></h1>
    <form class="form" method="post"><br>
    
    <div class="form-group">
        <label for="nameTextField">Item Name</label>
        <input type="text" class="form-control" id="nameTextField"
        placeholder="Enter the item's name"
        name="name" required>
    </div><br>

    <div class="form-group">
        <label for="catagoryTextField">Catagory</label>
        <input type="text" class="form-control" id="catagoryTextField"
        placeholder="Enter the item's Catagory"
        name="catagory" required>
    </div><br>

    <div class="form-group">
        <label for="descriptionTextField">Description</label>
        <textarea type="text" class="form-control" id="descriptionTextField"
        placeholder="Enter the description of the item"
        name="description" required></textarea>
    </div><br>

    <div class="form-group">
        <label for="stockpileTextField">Stockpile Size</label>
        <input type="number" class="form-control" id="stockpileTextField"
        placeholder="Enter the number of items in stock"
        name="stock" required>
    </div><br>

    <div class="form-group">
        <label for="priceTextField">Price</label>
        <input type="number" class="form-control" id="priceTextField"
        placeholder="Enter the price of the item"
        name="price" required>
    </div>

    <br>
    <button class="btn btn-primary" type="submit">
    <i class="fas fa-edit"></i> Create
    </button>

    <a href="/store-catalogue/add" class="btn btn-warning">
    <i class="fas fa-undo"></i> Reset</a>

    <a href="/store-catalogue" class="btn btn-danger">
    <i class="fas fa-xmark"></i> Cancel</a>
        

    </form>
    </div>
    </div>
</div>
    
<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs')%>